@model ColegioWeb.Models.Alumno

@{
    ViewData["Title"] = "Nuevo alumno";
}

<h1>Nuevo alumno</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nombres" class="control-label"></label>
        <input asp-for="Nombres" class="form-control" />
        <span asp-validation-for="Nombres" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Apellidos" class="control-label"></label>
        <input asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaNacimiento" class="control-label"></label>
        <input asp-for="FechaNacimiento" class="form-control" type="date" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Correo" class="control-label"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

